scikit-learn
pandas
ipykernel
requests
bs4
json
openai
python-dotenv

# Comando para mapear as tabelas de acordo com a conexão feita no settings.py -> python manage.py inspectdb > nome_da_app.models.py # 